<div class="wrapper">
  <div id="container"></div>
</div>


<!-- Templates -->

<script type="text/template" id="video-template">
	<div class="video_container_<%%- class_mod %>">
		<iframe width="<%%- width %>" height="<%%- height %>" src="http://www.youtube.com/embed/<%%- video_id %>?modestbranding=1&rel=0&showinfo=0&autohide=1"
frameborder="0" allowfullscreen></iframe>
	</div>
</script>

<script type="text/template" id="screenshot-template">
  <div class="video_<%%- class_mod %> screenshot" data-videoid="<%%- video_index %>">
	<div class="video_container_<%%- class_mod %>">
  		<img width="<%%- width %>" height="<%%- height %>" src="http://img.youtube.com/vi/<%%- video_id %>/hqdefault.jpg" />
  	</div>
  </div>
</script>