<div id="header_wrap">
    <header>
        <nav>
            <div class="search_wrapper">
                <label class="search_label" for="search">Search:</label> <input type="text" class="search_input" id="search" placeHolder="Search for videos and friends">
            </div>

            <div class="right_menu">
                <ul>
                    <li><a href="#">logout</a></li>

                    <li><a href="#">Edoardo Colombo</a></li>
                </ul>
            </div>
        </nav>
    </header>
</div>
<div class="wrapper">
  <div id="container"></div>
</div>


<!-- Templates -->

<script type="text/template" id="video-template"><div class="video_container_<%%- class_mod %>">
		<iframe width="<%%- width %>" height="<%%- height %>" src="http://www.youtube.com/embed/<%%- video_id %>?modestbranding=1&rel=0&showinfo=0&autohide=1&autoplay=1"
frameborder="0" allowfullscreen></iframe>
	</div></script>

<script type="text/template" id="screenshot-template"><div class="video_<%%- class_mod %> screenshot" data-videoid="<%%- video_index %>" data-videosize="<%%- video_size %>">
	<div class="video_container_<%%- class_mod %>">
  		<img width="<%%- width %>" height="<%%- height %>" src="http://img.youtube.com/vi/<%%- video_id %>/hqdefault.jpg" />
  	</div>
  </div></script>