<div class="wrapper_login">
        <div class="ribbon">
            <h1>Wallylog<span class="arrow_left"></span><span class="arrow_right"></span></h1>
        </div>

        <div class="main_title">
            <h2>YouTube. The social way.</h2>
        </div>

        <a href="/auth/facebook/"><div class="login_button"></div></a>

        <div class="feature_wrapper clearfix">

<!--             <div class="feature_box_left">
                <div class="like_img"></div>
                <h1>All the videos you liked</h1>
                All in one place, to get back all the good memories and share them with your friends!
            </div>

            <div class="feature_box_right">
                <div class="video_img"></div>
                <h1>Videos everywhere.</h1>Aenean eu leo quam. Pellentesque ornare 
                sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis 
                euismod. Nullam quis risus eget urna mollis ornare vel eu leo.
            </div>

            <div class="feature_box_left">
                <div class="yt_img"></div>
                <h1>It's social, dude.</h1>
                Take a look at your friends wallylogs, see what they like and laugh together!
            </div>
            
            <div class="feature_box_right">
                <div class="friend_img"></div>
                <h1>What about your friends?</h1>Aenean eu leo quam. Pellentesque ornare 
                sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis 
                euismod. Nullam quis risus eget urna mollis ornare vel eu leo.
            </div> -->
                    	<%= image_tag "home.jpg" %>
        </div>
    </div>

    <footer>
        <div class="footer_wrapper">
            <div class="contacts">
                <h1>Contacts</h1>

                <div class="social_wrapper">
                    <a href="#">
                        <%= image_tag "facebook.png" %>
                    </a>
                    <a href="#">
                    	<%= image_tag "twitter.png" %>
                    </a>
                    <a href="#">
                    	<%= image_tag "youtube.png" %>
                    </a>
                </div>
            </div>

            <div class="info">
                <h1>Info</h1>

                <ul>
                    <li>Wallylog Inc.</li>

                    <li>Chicago</li>
                </ul>
            </div>
        </div>
    </footer>