<div class="wrapper_login">
        <div class="ribbon">
            <h1>Very Cool Name Here<span class="arrow_left"></span><span class="arrow_right"></span></h1>
        </div>

        <div class="main_title">
            <h2>YouTube. The social way.</h2>
        </div>

        <a href="/auth/facebook/"><div class="login_button"></div></a>

        <div class="feature_wrapper clearfix">
            <div class="feature_box_left">
                <div class="like_img"></div>
                <h1>You liked then. And now?</h1>Aenean eu leo quam. Pellentesque ornare 
                sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis 
                euismod. Nullam quis risus eget urna mollis ornare vel eu leo.
            </div>

            <div class="feature_box_right">
                <div class="video_img"></div>
                <h1>Videos everywhere.</h1>Aenean eu leo quam. Pellentesque ornare 
                sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis 
                euismod. Nullam quis risus eget urna mollis ornare vel eu leo.
            </div>

            <div class="feature_box_left">
                <div class="yt_img"></div>
                <h1>YT. The good way.</h1>Aenean eu leo quam. Pellentesque ornare 
                sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis 
                euismod. Nullam quis risus eget urna mollis ornare vel eu leo.
            </div>
            
            <div class="feature_box_right">
                <div class="friend_img"></div>
                <h1>What about your friends?</h1>Aenean eu leo quam. Pellentesque ornare 
                sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis 
                euismod. Nullam quis risus eget urna mollis ornare vel eu leo.
            </div>
        </div>
    </div>

    <footer>
        <div class="footer_wrapper">
            <div class="contacts">
                <h1>Contacts</h1>

                <div class="social_wrapper">
                    <a href="#">
                    	<%= image_tag "facebook.png" %>
                    </a>
                    <a href="#">
                    	<%= image_tag "twitter.png" %>
                    </a>
                    <a href="#">
                    	<%= image_tag "youtube.png" %>
                    </a>
                </div>
            </div>

            <div class="info">
                <h1>Info</h1>

                <ul>
                    <li>No Use for a Name</li>

                    <li>809 S. Damen, Chicago</li>
                </ul>
            </div>
        </div>
    </footer>